.filter{
    margin-top: 40px;
}

.filter ul{
display: flex;
flex-direction: column;
align-items: center;
}
.contain{
  width: 100%;
}
.filter button{
  display: block; 
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #961c2b;
    border: 2px none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.filter .filterIcon{
    font-size: 24px;
    font-weight: 200;
}
.dropdown_section {
    display: none; /* Başlangıçda gizlədir */
  }
  
  .dropdown_section.open {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-around;
    height: min-content; /* Açıldıqda görünür */
  }
  
  .dropdown_section.closed {
    display: none; /* Bağlandıqda gizlədir */
  }
  